{% extends 'base.html' %} {% load static i18n %} {% load crispy_forms_tags %} 
{% block title %} {% trans 'Download a question' %} {% endblock title %} 
{% block content %}
  <h1>Do you want to download your questions?</h1>
  
  <a href="#" class="btn btn-primary pull-right yes">
    <i class="fa fa-save" aria-hidden="true"></i> {% trans "Yes" %}
  </a>
  &nbsp
  <a href="{% url 'qa:index_noans' %}" class="btn btn-primary pull-right no">
    {% trans "No" %}
  </a>
  <div class="pending"></div>
  
{% endblock content %} 
{% block modal %}
  <script>
    var task_id;
    $(".yes").click(function() {
      $.ajax({
        url: '{% url "qa:download_questions" %}',
        type: "POST",
        dataType: "json",
        headers: {'X-CSRFToken': $('{% csrf_token %}').attr("value"), },
        success: function(data) {
          task_id = data.task_id;
          $(".no").hide();
          $(".pending").text(data.status + "...");
          ajaxRequest_to_check_status();
        }
      });
    });
    function ajaxRequest_to_check_status() {
      $.ajax({
        url: '{% url "qa:question_status" %}' + "?taskid=" + task_id,
        type: "GET",
        dataType: "json",
        success: function(data) {
          if (data["status"] == "PENDING") {
            setTimeout(ajaxRequest_to_check_status, 5000);
          } else {
            $(".pending").text("File is available to download");
            $(".yes").hide();
            $("h1").hide();
            $.get('{% url "qa:success" %}', function(data) {
              window.location.href = '{% url "qa:success" %}';
            });
          }
        },
      
      });
    }
  </script>
  
  <!-- /<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  
{% endblock modal %}
  